body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #333;
}

header {
    background-color: #008080;
    color: white;
    padding: 1em;
    text-align: center;
}

header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

main {
    padding: 2em;
}

h1, h2 {
    color: #008080;
}

footer {
    text-align: center;
    background-color: #008080;
    color: white;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
