<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontakt</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Kontakt</h1>
        <nav>
            <a href="/">Strona Główna</a>
            <a href="/about">O Nas</a>
            <a href="/contact">Kontakt</a>
        </nav>
    </header>
    <main>
        <p>Masz pytania? Skontaktuj się z nami przez e-mail: kontakt@energia.pl</p>
    </main>
    <footer>
        <p>&copy; 2024 Przejście na Odnawialne Źródła Energii</p>
    </footer>
</body>
</html>
